database:
  host: tidb
  port: 4000
  user: tidb_graphql
  password: tidb_graphql_pw
  database: tidb_graphql_tutorial

server:
  port: 8080
  graphiql_enabled: true
  tls_mode: off
  auth:
    oidc_enabled: true
    oidc_issuer_url: https://jwks:9000
    oidc_audience: tidb-graphql
    oidc_skip_tls_verify: true
    db_role_enabled: true
    db_role_claim_name: db_role
    db_role_introspection_role: app_introspect
  admin:
    schema_reload_enabled: true

observability:
  environment: development
  logging:
    format: text
